<%= form_for [:location, @group] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :group_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
