<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', location_group_path(:location, group) %></td>
        <td><%= link_to 'Edit', edit_location_group_path(:location, group) %></td>
        <td><%= link_to 'Destroy', location_group_path(:location, group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_location_group_path %>
