<%= form_for [:location, :group, @product] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
