<%= form_with(model: location, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :location_name %>
  </div>

    <div class="field">
      <%= form.select :group_id, Group.all.collect { |p| [ p.name, p.id ] } %>
    </div>
    <div class="field">
      <%= form.select :product_id, Product.all.collect { |p| [ p.name, p.id ] } %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
