<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Location Name</th>
      <th>Group</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to location.group.name, location_group_path(location, location.group.id) %></td>
        <td><%= link_to location.product.name, location_group_product_path(location, location.group.id, location.product.id) %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>


