<p>
  <strong>Location Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= link_to @location.group.name, location_group_path(@location, @location.group.id ) %>
</p>

<p>
  <strong>Product:</strong>
  <%= link_to @location.product.name, location_group_product_path(@location, @location.product.id, @location.group.id ) %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
